*,
*:after,
*:before{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

h1,h2{
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
    padding: 0;
}
/*navigation*/

.nav{
    position: absolute;
    top: 0;
    width: 100%;
}
.nav_panel{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 55px 30px;
}
.nav_link{
    text-decoration: none;
    margin: 0 25px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;

    position: relative;
}

.nav_link:after{
    content: "";
    width: 100%;
    height: 3px;
    background-color: #fff;
    display: block;
    text-align: center;
    opacity: 0;
    position: absolute;
    transition: opacity .3s linear;
    z-index: 1;
}



.nav_link:hover:after{
    opacity: 1;
    display: block;
}


/*header*/

.header{
    width: 100%;
    height: 850px;
    background: url(../img/header/background.png) center;
    background-size: cover;
    background-repeat: no-repeat;
}

.info_slide{
    width: 800px;
    padding-left: 45px;
    padding-top: 140px;
}
.info_title{
    font-size: 74px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
}
.info_suptitle{
    font-size: 24x;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
}
.info_suptitle:after{
    content: "";
    margin-top: 15px;
    margin-left: 5px;
    width:  30px;
    height: 3px;
    background-color: #fff;
    display: block;
    text-align: center;
}
.info_text{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 10px;
}

.icons{
    margin-top: 20px;
    margin-bottom: 30px;
}

.ico_link{
    padding: 7px;
    font-size: 20px;
    color: #749caa;
    background: #fff;
    border-radius:49% 51% 48% 52% / 53% 51% 49% 47%;

}
.-ico_link_last{
    padding: 7px 10px;
}
 /*buttton*/
.button{
    width: 210px;
    height: 70px;
    background: transparent;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 17px;
    text-transform: uppercase;
    color: #fff;
    border: 1px #fff solid;

    transition: background .5s linear;
    transition: color .5s linear;
}

.button:hover{
    background: #fff;
    color: #2f2f2f;
    font-weight: 800;
}

.-sponsors_btn{
    width: 290px;
    border: 1px #2f2f2f solid;
    color: #2f2f2f;
    transition: background .5s linear;
    transition: color .5s linear;
}
.-sponsors_btn:hover{
    background: #2f2f2f;
    color: #fff;
    font-weight: 800;
}
.-footer_btn{
    width: 270px;
    border: 1px #2f2f2f solid;
    color: #2f2f2f;
    transition: background .5s linear;
    transition: color .5s linear;
}
.-footer_btn:hover{
    background: #2f2f2f;
    color: #fff;
    font-weight: 800;
}

/*section*/
.section_info{
    margin: 0 450px;
    margin-top: 60px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.section_title{
     font-family: 'Montserrat', sans-serif;
     font-weight: 800;
     font-size: 21px;
     text-transform: uppercase;
     color: #2f2f2f;
     margin-top: 10px;

}
.section_text{
     font-family: 'Open Sans', sans-serif;
     font-weight: 400;
     font-size: 16px;
     color: #929292;
     margin-top: 10px;
}
.-section_acenda{
    margin-bottom: 40px;
    }
.-section_text_acenda{
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 12px;
    margin-top: 2px;
}

/*speakers*/

.speakers_items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.speaker_item{
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: 330px;
}
.-speaker_item_first{
    width: 100%
}
.speaker_img{
    width: 50%;
}
.speaker_image{
    display: block;
    width: 100%;
    height: 100%;
}
.speaker_info{
    height: 100%;
    width: 50%;
    text-align: center;

}
.-speaker_info_blue{
    background: #cbf1f1;
}
.speaker_title{
     margin-top: 80px;
     margin-bottom: 10px;
     font-family: 'Montserrat', sans-serif;
     font-weight: 800;
     font-size: 21px;
     text-transform: uppercase;
     color: #2f2f2f;
}
.speaker_text{
     font-family: 'Open Sans', sans-serif;
     font-weight: 400;
     font-size: 14px;
     color: #2f2f2f;
     text-align: center;
     margin: 0 40px;
}
.speaker_text:after{
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background-color: #2f2f2f;
    margin: 15px auto;
}
.ico_speaker{
    color: #2f2f2f;
    font-size: 20px;
}

/*acenda*/
.acenda{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.acenda_title{
    text-align: center;
     font-family: 'Montserrat', sans-serif;
     font-weight: 400;
     font-size: 23px;
     margin-bottom: 30px;
}
.acenda_items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}
.acenda_item{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin: 0 10px;

}
.acenda_time{
    width: 50%;
}
.acenda_work{
    width: 50%;
}
.acenda_time_text{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
}

.acenda_time_text p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.acenda_work_text{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.-acenda_work_text_active{
    max-width: 500px;
}

.acenda_homework{
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px #2f2f2f solid;
    padding: 5px;
    height: 60px;

    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.-acenda_homework_active{
    background: #2f2f2f;
    color: #fff;
    max-height: 480px;
    height: auto;

}
.-acenda_left_border{
    border: none;
    border-left: 1px #2f2f2f solid;
    font-size: 0;
    height: 30px;
    color: transparent;
}
.acenda_rigt_border{
    font-size: 0;
    color: transparent;
}

/*auditorium*/

.auditorium{
    width: 100%;
    height: 850px;
    background: url(../img/auditorium/background.png) center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;

}
.audi_block{
    height:371px;
    width: 412px;
    background: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 180px;
}

.audi_ico{
    margin-bottom: 10px;
}
.audi_title{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 800;
    color: #2f2f2f;
}
.audi_location{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #636363;
    font-style: italic;
    font-size: 12px;
    margin-bottom: 30px;

}
.audi_adress{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #2f2f2f;
    font-style: italic;
    font-size: 14px;
    margin-bottom: 30px;
}
.audi_numbers{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #2f2f2f;
    font-size: 14px;
    margin-bottom: 30px;
}
.audi_email{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #2f2f2f;
    font-size: 12px;
}

/*sponsors*/

.sponsors_img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 85px;
    margin-bottom: 16px;
}
.sponsors_button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

/*footer*/
.conference{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #cbf1f1;
}
.footer_title{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 800;
    color: #2f2f2f;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 5px;
}

.foter_nav_panel{
    display: flex;
    justify-content: center;
    align-items: center;
     margin-bottom: 20px;

}
.footer_link{
    text-decoration: none;
    margin: 0 25px;
    color: #2f2f2f;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    position: relative;

}

.footer_link:after{
    content: "";
    width: 100%;
    height: 2px;
    background-color: #2f2f2f;
    display: block;
    text-align: center;
    opacity: 0;
    position: absolute;
    transition: opacity .3s linear;
    z-index: 2;
}

.footer_link:hover:after{
    opacity: 1;
    display: block;
}
.footer_icons{
    margin-bottom: 30px;
}
.-ico_footer{
    background: #2f2f2f;
    padding: 5px;
    font-size: 14px;
    color: #cbf1f1;
}
.-ico_footer_link_last{
    padding: 5px 7px;
}
.copyright{
    margin-top: 30px;
    margin-bottom: 40px;

    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: italic;
    color: #2f2f2f;
    font-size: 12px;
}
